{% extends 'base/index.html' %}
{% block content %}

    <form action="/reading/updatesubject/{{ subject.id }}" method="post">
      {% csrf_token %}
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Subject Name</label>
        <input type="text" class="form-control" id="inputDefault", name="name" value="{{ subject.name }}">
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Tags</label>
      <select class="form-control" id="exampleSelect1" name="tag" >
        <option value="certification">Certification</option>
        <option value="exam">Other Exam</option>
        <option value="fun">Fun</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>

</form>

{% endblock %}